.verticalNav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  margin: 0.4rem 0;
  font-family: var(--font-family);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;

}

.link:hover{
  color: #ffeee4;;
  opacity: 0.65;
}

.toggle {
  font-size: 2.5em;
  padding: 0.7rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #0f172a;
  color: #ffffff;
  cursor: pointer;
  position: fixed;
  transition: 0.2s ease;
  border-bottom-right-radius: 3.5rem;
  box-shadow: 1px 1px 2px 4px #0f172a;
  z-index: 100;
}

.toggle:hover{
  opacity: 0.8;
}

.toggle i {
  font-size: 0.6em;
  display: flex;
  align-items: center;
}

.sidebarLinks{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.vk,
.tel,
.git{
  margin: 0 0.3rem;
  transition: 0.2s ease;
}

.vk:hover svg path{
  fill: #ffeee4;
}

.tel:hover svg path{
  fill: #ffeee4;

}

.git:hover svg path{
  fill: #ffeee4;
}