.header{
  position: absolute;
  width: 100%;
  height: 285px;
  background-image: url("../../../public/assets/back.svg");
  z-index: 10;
}

.backSvg{
  width: 100%;
  height: 285px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #5E0080 0%, #9D00D5 100%);
  z-index: 0;
}

.line{
  position: absolute;
  top: 285px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 20;
  background: #5E0080;
}

.itemsContainer{
  position: relative;
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 30;
  margin-right: 4rem;
}

.item{
  padding: 0.5rem 1rem;
  margin: 5rem 2rem 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #363636;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  span{
    margin-left: 0.3rem;
  }
}

.item:hover{
  background: #0f172a;
  color: white;

  .iloc{background-image: url("../../../public/assets/ep_location_w.svg");}
  .iedu{background-image: url("../../../public/assets/cil_education_w.svg");}
  .iemail{background-image: url("../../../public/assets/carbon_email_w.svg");}
  .ieng{background-image: url("../../../public/assets/icon-park-outline_english_w.svg");}
}

.iloc{
  width: 24px;
  height: 24px;
  background-image: url("../../../public/assets/ep_location.svg");
  background-repeat: no-repeat;
}

.iedu{
  width: 24px;
  height: 24px;
  background-image: url("../../../public/assets/cil_education.svg");
  background-repeat: no-repeat;
}

.iemail{
  width: 24px;
  height: 24px;
  background-image: url("../../../public/assets/carbon_email.svg");
  background-repeat: no-repeat;
}

.ieng{
  width: 24px;
  height: 24px;
  background-image: url("../../../public/assets/icon-park-outline_english.svg");
  background-repeat: no-repeat;
}

.photo{
  border: 8px solid #5E0080;
  border-radius: 50%;
}

@media (max-width: 1440px) {
  .item {
    margin: 4.5rem 1rem 0 1rem;
  }
}

@media (max-width: 1170px) {
  .itemsContainer {
    flex-direction: column;
    :nth-child(3){
      order: -1;
    }
    margin-right: 0;
  }
  .item{
    margin: 0.5rem 0;
    background: #0f172a;
    color: white;

    .iloc{background-image: url("../../../public/assets/ep_location_w.svg");}
    .iedu{background-image: url("../../../public/assets/cil_education_w.svg");}
    .iemail{background-image: url("../../../public/assets/carbon_email_w.svg");}
    .ieng{background-image: url("../../../public/assets/icon-park-outline_english_w.svg");}
  }
}