.footer{
  position: relative;
  width: 100%;
  height: 4rem;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(3, 3, 3, 0.95) 100%);
}

.vk,
.tel,
.git{
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  transition: 0.2s ease;
  z-index: 20;
}

.vk:hover{
  opacity: 0.6;
}

.tel:hover{
  opacity: 0.6;
}

.git:hover{
  opacity: 0.6;
}

.backSvg{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-image: url("../../../public/assets/back.svg");
  background-position: center;
  z-index: 10;
  opacity: 0.6;
}