@font-face {
    font-family: PD-Bold;
    src: url("./fonts/PlayfairDisplay-ExtraBold.ttf");
}

.p-card-content {
    padding: 0 !important;
}

.p-scrollpanel-bar {
    opacity: 1 !important;
}

.p-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
